[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "delayed"]
	path = delayed
	url = https://github.com/tlverse/delayed
[submodule "hal9001"]
	path = hal9001
	url = https://github.com/tlverse/hal9001
[submodule "origami"]
	path = origami
	url = https://github.com/tlverse/origami
