[submodule ".registry"]
	path = .registry
	url = https://github.com/tlverse/tlverse.r-universe.dev
	branch = HEAD
[submodule "delayed"]
	path = delayed
	url = https://github.com/tlverse/delayed
[submodule "hal9001"]
	path = hal9001
	url = https://github.com/tlverse/hal9001
[submodule "haldensify"]
	path = haldensify
	url = https://github.com/nhejazi/haldensify
	registered = false
[submodule "origami"]
	path = origami
	url = https://github.com/tlverse/origami
[submodule "sl3"]
	path = sl3
	url = https://github.com/tlverse/sl3
	branch = fix-tests
[submodule "tmle3"]
	path = tmle3
	url = https://github.com/tlverse/tmle3
	branch = devel
